.manager-device {
  display: flex;
  font-size: 1em;
  margin: 10px;
  height: 100%;
  justify-content: center; 
}

.m-container {
  /* width: 1000px; */
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}

.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(8, 8, 8, 0.15) !important;
}

.m-card-header {
  border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  padding: 0.6rem 1rem !important;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.m-card-header{
  display: flex;
}

.card-title {
  width: 50%;
  display: flex;
  justify-content: flex-start; 
  font-size: 1.4em;
  padding-top: 8px;
  font-weight: 350;
}
.card-add-device{
  width: 50%;
  display: flex;
  justify-content: flex-end; 
}
.list-device{
  margin: 0px 10px 0px 10px;
}
.device{
  /* width: 100%; */
  display: flex;
  margin-top: 10px;
  background-color: #fafafa;
  padding: 4px 5px 4px 5px;
  border-radius: 6px;
  border: 1px solid #cecece7a;
}

.device:hover{
  background-color: #eaeaea86;
}

.deivce-name{
  width: 20%;
  justify-content: flex-start; 
  display: flex;
  margin-left: 10px;
  align-items: center;
}
.underline{
  height: 0px;
  border-bottom: 2px solid #3f51b56b;
  height: calc(3.375rem - 2rem);
  margin: auto 1rem;
}
.table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  /* display: flex;
  justify-content: center;  */
}
.table > tbody {
  width: auto;
}

.table > tbody > tr > td {
  border: 1px solid #f4f4f4;
}

.btn-add-device {
  width: 90px;
  height: 30px;
  border: 1px solid #3f51b5;
  border-radius: 30px;
  text-align: center;
  padding: 8px 10px 0px 10px;
  margin: 4px 10px 4px 10px;
  font-size: 0.8em;
  cursor: pointer;
  color: #023e8a;
  background-color: #ffffff;
  font-weight: 450;
}
.btn-add-device:hover {
  /* Firefox */
  -moz-transition: all 0.3s ease-in;
  /* WebKit */
  -webkit-transition: all 0.3s ease-in;
  /* Opera */
  -o-transition: all 0.3s ease-in;
  /* Standard */
  transition: all 0.3s ease-in;
  background-color: #154a8f;
  color: #ffffff;
  border: 1px solid #154a8f;
}
.device-margin{
  margin-top: 0px;
}

.result-search{
  font-size: 0.8em;
  padding: 10px 10px 10px 20px;
}

.place, .unit{
  font-size: 1.3em;
  color: #0f4ea6;
}
.accress {
  color: #0f4ea6;
  font-size: 1.3em;
}

.device-config {
  width: 64%;
  justify-content: flex-end; 
  display: flex;
}


.device-area {
  width: 14%;
  padding-top: 12px;
  font-size: 0.8em;

  background-color: #3545a6;
  color: #fff;
  padding: 2px 4px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  height: 20px;
  margin: auto 0px;

  /* width: 14%;
  padding-top: 12px;
  font-size: 1em;
  background-color: #3545a6;
  color: #fff;
  padding: 2px 4px 6px 4px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  height: 20px;
  margin: auto 0px; */

}
.device-branch {
  width: 15%;
  padding-top: 12px;
  font-size: 0.8em;
  background-color: #d2d8ff;
  color: #000;
  padding: 2px 4px;
  border-radius: 0px 10px 10px 0px;
  text-align: left;
  height: 20px;
  margin: auto 0px;
  border-left: solid 1px #fff;
  padding-left: 8px;

  /* width: 15%;
  padding-top: 12px;
  font-size: 1em;
  background-color: #d2d8ff;
  color: #000;
  padding: 2px 4px 6px 4px;
  border-radius: 0px 10px 10px 0px;
  text-align: left;
  height: 20px;
  margin: auto 0px;
  border-left: solid 1px #fff;
  padding-left: 8px; */
}
.dialog-title {
  padding: 10px 20px;
  margin: 10px 0px 0px 0px;
  font-size: 1.2em;
  border-bottom: solid 1px rgb(172, 172, 172);
}
.dialog-container {
  width: 600px;
}
.dialog-btn-group {
  display: flex;
  justify-content: flex-end;
  border-top: solid 1px rgb(172, 172, 172);
}
.dialog-from{
  margin: 20px 40px;
  display: flex;
  justify-content: space-evenly;
}
.dialog-result {
  margin: 10px 20px;
  display: flex;
  justify-content: space-evenly;
}
.dialog-form-textbox {
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  /* font-size: 1em; */
  font-family: inherit;
}
.dialog-name{
  margin: auto;
  width: 30%;
  text-align: center;
}
.dialog-result {
  padding-top: 20px;
}
.dialog-wait {
  display: flex;
}
.dialog-wait-text {
  margin: auto;
}
.dialog-show{
  /* border: solid 1px #000; */
  padding: 10px 20px;
  /* border-radius: 4px; */
  width: 100%;
  display: flex;
  justify-content: center;
}
.dialog-show-firmware {
  color: #164ad3;  
  font-weight: 600;
  margin: auto 5px;
}
.dialog-show-area {
  color: #164ad3;  
  font-weight: 600;
  margin: auto 5px;
}
.dialog-show-branch {
  color: #164ad3;  
  font-weight: 600;
  margin: auto 5px;
}
.dialog-show-serial {
  color: #164ad3;
  font-weight: 600;
  margin: auto 5px;
}
.dialog-input-area-branch {
  display: flex;
  margin: 10px 20px;
}
.dialog-select-area {
  border: solid 2px #000;
  border-radius: 4px;
  padding-right: 20px;
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  /* font-size: 1em; */
  font-family: inherit;
}
.dialog-select-branch {
  border: solid 2px #000;
  border-radius: 4px;
  padding-right: 20px;
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  /* font-size: 1em; */
  font-family: inherit;
}
.dialog-select-branch {
  border: solid 2px #000;
  border-radius: 4px;
  padding-right: 20px;
  width: 50%;
}
.dialog-select-area-title{
  margin: auto 10px;
}
.dialog-select-branch-title{
  margin: auto 10px;
}
.progressbar-search-device {
  display: flex;
  justify-content: center;
  padding: 20px;
}
/* width 1000 for tablet */
@media only screen and (max-width: 1000px) {
  .device-area {
    width: 16%;
  }
  /* width 800 for tablet */
  @media only screen and (max-width: 800px) {
    .card-title{
      font-size: 1.4em;
    }
    .device-branch {
      width: 25%;
    }
    .device-area {
      width: 18%;
    }
    /* width 600px for phone */
    @media only screen and (max-width: 600px) {
      .card-title{
        font-size: 1.3em;
      }
    }
  }
}