.prvconfig-device {
  display: flex;
  font-size: 1em;
  margin: 10px;
  height: 100%;
  justify-content: center; 
}
.prv-container {
  width: 1000px;
  background-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}
.prv-shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(8, 8, 8, 0.15) !important;
}
.prv-card-header {
  border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  padding: 0.6rem 1rem !important;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
}
/* .prv-config-device {
  margin: 0px 10px 0px 10px;
} */
.prv-card-title {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.3em;
  padding-top: 8px;
  font-weight: 400;
}
.prv-cart-subtitle {
  padding: 20px 10px;
  font-size: 1.1em;
}
.prv-automatic-config-header {
  margin: 10px 5px 0px 5px;
  padding: 15px 10px;
  width: auto;
  height: auto;
  font-size: 1.1em;
  background-color: #e2f0ff;
  border-radius: 4px 4px 0px 0px;
  font-weight: 300;
  border: solid 1px #aaaaaa6b;
}
.prv-automatic-config-body {
  padding: 20px 10px 20px 20px;;
  background-color: #f2f2f2;
  margin: 0px 5px 10px 5px;
  height: 100%;
  border-right: solid 1px #aaaaaa6b;
  border-left: solid 1px #aaaaaa6b;
  border-bottom: solid 1px #aaaaaa6b;
}
.prv-failuremode-config-header {
  margin: 10px 5px 0px 5px;
  padding: 15px 10px;
  width: auto;
  height: auto;
  font-size: 1.1em;
  background-color: #e2f0ff;
  border-radius: 4px 4px 0px 0px;
  font-weight: 300;
  border: solid 1px #aaaaaa6b;
}
.prv-failuremode-config-body {
  padding: 20px 10px 20px 20px;;
  background-color: #f2f2f2;
  margin: 0px 5px 10px 5px;
  /* height: 100%; */
  border-right: solid 1px #aaaaaa6b;
  border-left: solid 1px #aaaaaa6b;
  border-bottom: solid 1px #aaaaaa6b;
}
.prv-button-save {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 10px;
}
.prv-failuremode-config-header-new {
  padding-top: 30px;
  font-size: 1.5em;
  border-bottom: solid 1px #939393;
  font-weight: 300;
}
.prv-group-btn {
  margin: 10px;
}

.prv-auto-config-header-new {
  padding-top: 0px;
  font-size: 1.5em;
  border-bottom: solid 1px #939393;
  font-weight: 300;
  margin-bottom: 20px;
}
.nativeselect-error {
  border: "solid 1px #ff0000";
  border-radius: 4px;
}

.prv-manual-save {
  display: flex;
  width: 60%;
  height: 50%;
  justify-content: flex-end;
}